<h1>My Cards</h1>
<% if @cards.empty? %>
  <div class="alert alert-primary" role="alert">
    You don't have any cards yet. Click the button below to create one.
  </div>
<% else %>
  <br>
  <div class="row">
    <% @cards.each do |card| %>
      <div class="col-3">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header bank-name">
            <%= card.bank %>
          </div>
          <div class="card-body">
            <h5 class="card-title card-number"><%= card.number_display %></h5>
            <%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div id="card-modal"></div>

<%= link_to 'New Card', new_card_path, remote: true, class: 'btn btn-primary btn-lg' %>
