body {
  margin-top: 5em;
}

.account-form {
  .btn {
    margin: 1em;
  }
}

.login {
  margin: 3em;
  padding: 2em;
}

.navbar-brand {
  font-size: 1.5em;
}

.bank-name {
  font-weight: bold;
}

.card-number {
  font-size: 1em;
}

.account-amount {
  font-size: 2.5em;
}

.landing {
  .account-amount {
    font-size: 1.5em;
  }

  .bank-name {
    font-size: .5em;
    font-weight: bold;
  }

  .card-number {
    font-size: .85em;
  }
}
